<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
<itemData>
  <item key = "1">
    <name>"bread"</name>
    <price>2.39</price>
  </item>
  
  <item key ="2">
    <name></name>
    <price></price>
  </item>
  
  <item key ="3">
    <name></name>
    <price></price>
  </item>
  
  <item key ="4">
    <name></name>
    <price></price>
  </item>
  
  <item key ="5">
    <name></name>
    <price></price>
  </item>
  
  <item key ="6">
    <name></name>
    <price></price>
  </item>
  
  <item key ="7">
    <name></name>
    <price></price>
  </item>
  
  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>
  
  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>

  <item key ="8">
    <name></name>
    <price></price>
  </item>
</itemData>
  </appSettings>
  </configuration>
    



